<!doctype html>
<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/img/logo.png">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-dark navbar-expand" style="background-color: #30D5C8;">
        <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            GK-store
        </a>
        {% if current_user.is_authenticated %}
            <p>
                <ul class="navbar-nav ml-auto">
                {% if current_user.permission == 'seller' %}
                    <li class="nav-item"><a href="product" class="btn btn-secondary">Добавить товар</a></li>
                {% endif %}
                <li class="nav-item"><a class="navbar-brand padding-left" href="balance">{{ current_user.balance|round(2) }} руб</a></li>
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn btn-light dropdown-toggle"  data-toggle="dropdown">{{ current_user.name }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/user_about/{{ current_user.id }}">Мой профиль</a>
                            {% if current_user.permission == 'admin' %}
                            <a class="dropdown-item" href="/products_check">Непроверенные товары</a>
                            <a class="dropdown-item" href="/transactions">Все транзакции</a>
                            {% else %}
                            <a class="dropdown-item" href="/transactions">Мои транзакции</a>
                            {% endif %}
                            <a class="dropdown-item" href="/logout">Выход</a>
                        </div>
                    </div>
                </li>
                </ul>
            </p>
        {% else %}
        <p>
            <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="btn btn-info" href="/register">Зарегистрироваться</a></li>
            <li class="nav-item"><a class="btn btn-warning" href="/login">Войти</a></li>
            </ul>
        </p>
        {% endif %}
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer class="page-footer font-small pt-4" style="background-color: #30D5C8;">
    <div class="footer-copyright text-center py-2">© 2020 GK production:
        <a href="https://github.com/gagarinkomar/">github.com</a>
    </div>
</footer>
</body>
</html>