{% extends "base.html" %}

{% block title %}
    GK-store
{% endblock %}

{% block btns_on_nav %}
    {% if current_user.is_authenticated %}
        <p>
            {% if current_user.permission == 'seller' %}
                <a href="product" class="btn btn-secondary">Добавить товар</a>
            {% endif %}
            <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
        </p>
    {% else %}
        <p>
            <a class="btn btn-info" href="/register">Зарегистрироваться</a>
            <a class="btn btn-warning" href="/login">Войти</a>
        </p>
    {% endif %}
{% endblock %}

{% block content %}
        <h1 align="center" >Список товаров</h1>
        <div class="row">
            <aside class="col-md-2">
                <div class="side-bar check-box">
                    <form method="POST" action="/">
                        <h4>Категории</h4>
                        <p>
                            {% for category in categories %}
                            <input type="checkbox" value={{ category.name }} name="categories_checkbox">{{ category.name.capitalize() }}</input><br>
                            {% endfor %}
                        </p>
                        <button class="btn btn-primary" type="sumbit">Подобрать</button>
                    </form>
                </div>
            </aside>
            <section class="col-md-10">
                <table class="table">
                    {% for product, image_source in products %}
                        {% if current_user.is_authenticated or product.is_published %}
                            <tr>
                                <td class="table-primary" width="20%">
                                    <img height="100px" src="{{ image_source }}"><br>
                                    <a href="/user_about/{{ product.user_id }}">{% if product.user.surname %}{{ product.user.surname }} {% endif %}{{ product.user.name }}</a>
                                </td>
                                <td class="table-primary">
                                    <h4>{{ product.title }}</h4>
                                    <p>{{ product.about }}</p>
                                </td>
                                <td class="table-warning" align="center"><b>{{ product.price }} руб</b></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </section>
        </div>
{% endblock %}
