{% extends "base.html" %}

{% block title %}
    GK-store
{% endblock %}

{% block content %}
        <h1 align="center" >Список товаров</h1>
{% if form %}<form method="POST" action="" enctype="multipart/form-data">{% endif %}
        <div class="row">
            {% if categories %}
            <aside class="col-md-2">
                <div class="side-bar check-box">
                        <h4>Категории</h4>
                        <p>
                            {% for category in categories %}
                            <label class="label-checkbox"><input type="checkbox" class="form-check-input" value={{ category.name }} name="categories_checkbox"{% if category.name in choosed_categories %}checked{% endif %}>{{ category.name.capitalize() }}</input></label><br>
                            {% endfor %}
                        </p>
                        <input type="submit" class="btn btn-primary btn-block" type="sumbit" name="choose" value="Подобрать">
                        <input type="submit" class="btn btn-warning btn-block" type="sumbit" name="reset" value="Сбросить">
                </div>
            </aside>
            {% endif %}
            <section class="col-md-10">
                {% if form %}
                    <div class="container">
                        <div class="row justify-content-end no-gutters">
                            <div class="col-4">
                            {{ form.sorting(class="form-control") }}
                            </div>
                            <div class="col-1.5">
                                {{ form.submit(type="submit", class="btn btn-success") }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <table class="table">
                    {% for product in products %}
                        {% if current_user.is_authenticated or product.is_published %}
                            <tr class="{% if current_user.is_authenticated %}table-row{% else %}disabled{% endif %}" data-href="/product_about/{{ product.id }}">
                                <td class="table-primary" width="20%">
                                    <img height="100px" src="{{ url_for('static', filename='img/' + product.image_source|string) }}"><br>
                                    <a href="/user_about/{{ product.user_id }}">{% if product.user.surname %}{{ product.user.surname }} {% endif %}{{ product.user.name }}</a>
                                </td>
                                <td class="table-primary" width="60%">
                                    <h4>{{ product.title }}</h4>
                                    <p>{{ product.short_about }}</p>
                                </td>
                                <td class="table-warning" align="center">
                                    <b>{{ product.price }} руб</b>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </section>
        </div>
{% if form %}</form>{% endif %}
{% endblock %}
