{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1 align="center">{{ title }}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control") }}<br>
            {% for error in form.about.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.image_source.label }}<br>
            {{ form.image_source(class="form-control") }}<br>
            {% for error in form.image_source.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(class="form-control", type="number") }}<br>
            {% for error in form.price.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.categories.label }}<br>
            {{ form.categories(class="form-control") }}<br>
            {% for error in form.categories.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.purchased_content.label }}<br>
            {{ form.purchased_content(class="form-control") }}<br>
            {% for error in form.purchased_content.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.is_published() }} {{ form.is_published.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {% if message %}
        <p class="alert alert-danger" role="alert">
            {{ message }}
        </p>
        {% endif %}
    </form>
{% endblock %}