{% extends "base.html" %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}
    <h1 align="center">{{ product.title }}</h1>
    <table><tr>
        <td class="table-info" width="30%">
            <img max-height="300px" width="100%" src="{{ product_image_source }}"><br>
        </td>
        <td class="table-info" width="2%"></td>
        <td class="table-info" width="68%">
            <p><i>{{ product.about }}</i></p>
            <p>
                <b>Дата появления товара:</b> {{ product.checked_date.strftime('%H:%M %d.%m.%Y') }}<br>
                <b>Рейтинг продавца:</b> {% if product.user.count_rating %}{{ (product.user.sum_rating / product.user.count_rating)|round(1) }}{% else %}0{% endif %}<br>
                <b>Количество транзакций продавца:</b> {{ product.user.count_transactions }}<br>
                <a href="/user_about/{{ product.user_id }}">{% if product.user.surname %}{{ product.user.surname }} {% endif %}{{ product.user.name }}</a>
            </p>
        </td>
    </tr></table>
    <div align="center">
        {% if product.is_sold %}
            <button class="btn btn-secondary btn-lg btn-block" disabled>{{ product.transaction[0].status }}</button>
        {% elif current_user.permission == 'buyer' %}
            <a class="btn btn-danger btn-lg btn-block" href="/transaction/{{ product.id }}">Купить за {{ product.price }} руб</a>
        {% elif product.user.id == current_user.id %}
            <a class="btn btn-primary btn-secondary btn-block" href="/product/{{ product.id }}">Редактировать</a>
        {% endif %}
    </div>
{% endblock %}