{% extends "base.html" %}

{% block title %}
    Список транзакций
{% endblock %}

{% block content %}
    <h1 align="center" >Список транзакций</h1>
        <table class="table">
            {% for transaction in transactions %}
            <tr class="table-row" data-href="/transaction_about/{{ transaction.id }}">
                <td class="table-primary" width="50%">
                    <h4 >{{ transaction.product.title }}</h4>
                    <p><i>{{ transaction.product.about }}</i></p>
                </td>
                <td class="table-primary">
                    <p><b>Продавец:</b> <a href="/user_about/{{ transaction.seller_id }}">{% if transaction.seller.surname %}{{ transaction.seller.surname }} {% endif %}{{ transaction.seller.name }}</a></p>
                    <p><b>Покупатель:</b> <a href="/user_about/{{ transaction.buyer_id }}">{% if transaction.buyer.surname %}{{ transaction.buyer.surname }} {% endif %}{{ transaction.buyer.name }}</a></p>
                    <p><b>Цена:</b> {{ transaction.price }} руб</p>
                    <p><b>Дата покупки:</b> {{ transaction.date.strftime('%H:%M %d.%m.%Y') }}</p>
                    <p><b>Статус:</b> {{ transaction.status }}</p>
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}